<div class="container">
    <h1>Completed Tournaments</h1>
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading"></div>
                <div class="panel-body list-group">
                  {{#each model as |tournament|}}
                    {{#link-to 'tournaments.complete.standings' tournament class="list-group-item"}}
                        <span><strong>{{tournament.title}}</strong> <em>{{tournament.eventDate}}</em></span>
                    {{/link-to}}
                  {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
