<div class="container">
    <h1>Active Tournaments</h1>
    {{#link-to 'tournaments.new' type="button" class="btn btn-primary"}}Add a tournament{{/link-to}}
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-md-6">
            {{#if model.newTournaments}}
                <div class="panel panel-default">
                    <div class="panel-heading">New Tournaments</div>
                    <div class="panel-body list-group">
                        {{#each model.newTournaments key="@guid" as |tournament|}}
                            {{#link-to 'tournaments.setup' tournament class="list-group-item"}}
                                <span><strong>{{tournament.title}}</strong> <em>{{tournament.eventDate}}</em></span>
                            {{/link-to}}
                        {{/each}}
                    </div>
                </div>
            {{/if}}
            {{#if model.activeTournaments}}
                <div class="panel panel-primary">
                    <div class="panel-heading">Active Tournaments</div>
                    <div class="panel-body list-group">
                      {{#each model.activeTournaments key="@guid" as |tournament|}}
                        {{#link-to 'tournaments.play.matches' tournament class="list-group-item"}}
                            <span><strong>{{tournament.title}}</strong> <em>{{tournament.eventDate}}</em></span>
                        {{/link-to}}
                      {{/each}}
                    </div>
                </div>
            {{/if}}
            {{#link-to 'tournaments.archive'}}Archived tournaments{{/link-to}}
        </div>
    </div>
</div>
