<div class="container">
    <div class="row">
        <div class="col-sm-4 col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <table class="table">
                        <tr class="info">
                            <td class="col-sm-10">Wyatt</td>
                            <td class="col-sm-2">21</td>
                        </tr>
                        <tr>
                            <td class="col-sm-10">Eric</td>
                            <td class="col-sm-2">19</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <table class="table">
                        <tr class="info">
                            <td class="col-sm-10">Wyatt</td>
                            <td class="col-sm-2">21</td>
                        </tr>
                        <tr>
                            <td class="col-sm-10">Eric</td>
                            <td class="col-sm-2">19</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <table class="table">
                        <tr class="info">
                            <td class="col-sm-10">Wyatt</td>
                            <td class="col-sm-2">21</td>
                        </tr>
                        <tr>
                            <td class="col-sm-10">James</td>
                            <td class="col-sm-2">23</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-6">
            <div class="panel panel-info">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td class="col-sm-10">Justin</td>
                            <td class="col-sm-2"><input type="text" class="form-control" id="score1" placeholder="0"></td>
                        </tr>
                        <tr>
                            <td class="col-sm-10">Wesley</td>
                            <td class="col-sm-2"><input type="text" class="form-control" id="score2" placeholder="0"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
