<div class="panel panel-primary pull-right">
    <div class="panel-body">
        <button {{action "unstart" this}} class="btn btn-primary">Change Setup (will clear all games)</button>
        <button {{action "finish" this}} class="btn btn-primary">Finish tournament now</button>
        <a href="#"><span {{action 'closeModal' 'tournaments/play/settings'}} class="glyphicon glyphicon-remove"/></a>
    </div>
</div>
